.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #29333c;
    opacity: 90%;
    /* position: sticky; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}